 <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>SQL2FA</title>

</head>
<body>
<div class = "page">
<header class = "hero">
    <h1>SQL2FA</h1>
    <p>Peer Reviewed and Safe SQLs for All</p>
</header>
<div class="form-container">
    <form action="#" method="POST"> 
        <h4>Sign In</h4>
        <div class="input-group">
                <label for="username">Username:</label>
                <input type="text" id = "username" name = "username" required>

        </div>
        <div class="input-group">
                <label for="password">Password:</label>
                <input type="text" id = "password" name = "password" required>
        </div>

        <button type="submit">Login</button>
    </form>
</div>
</div>
</body>
<html>